body {
	font-size: 16px;
}
h1 {
	font-size: 65px;
	color: orange;
	font-family: sans-serif;
	}
	.vermelho {
		background-color: red;
	}
	.amarelo {
		background-color: yellow
	}
	.marrom {
		background-color: brown;
	}
li {
	font-family: fantasy;
}
p , ul {
	background-color: rgb(24, 24, 243);
	font-weight: 600;
	font-size: 3em;
}